@import './colors.css';
@import './type.css';

.app {
  background-color: #1e1e1e;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  padding: 30px;
  width: 100vw;
}

section {
  margin-bottom: 30px;
}