@import './colors.css';
@import './type.css';

#root, 
.app {
  background-color: #1e1e1e;
  color: #fff;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

main {
  height: calc(100vh - 100px);
  margin: 0 auto;
  max-width: 1180px;
  overflow-y: scroll;
  padding: 20px 30px 30px;
}

section {
  margin-bottom: 30px;
}