.detail-artist {
	padding: 100px 0 30px;
}

.artist-hero {
	display: flex;
	height: 268px;
	padding: 30px;
	width: 100%;
}

.artist-hero img {
	border-radius: 208px;
	height: 208px;
	object-fit: cover;
	width: 208px;	
}

.artist-hero-text {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	padding: 30px 30px 0;
}

.artist-hero-text p,
.artist-hero-text h1 {
	margin: 0;
}