@import './colors.scss';
@import './vars.scss';

.chip {
	align-items: center;
	border-radius: $border-radius;
	display: flex;
	flex-direction: row;
	padding: 0;

	&:focus,
	&:active {
		background: $color-white-focus;
	}

	img {
		@include squareImg(100px);
	}

	.chip-title {
		padding: 0 20px;
		text-align: left;
	}
}




