@import './breakpoints.scss';
@import './colors.scss';
@import './vars.scss';

$mobile-height: 60px;
$height: 100px;

.chip {
	align-items: center;
	border-radius: $border-radius;
	display: flex;
	flex-direction: row;
	min-height: $mobile-height;
	overflow: hidden;
	padding: 0;
	width: 100%;

	&:focus,
	&:active {
		background: $color-white-focus;
	}

	img {
		@include squareImg($mobile-height);

		@include bp(tablet) {
			@include squareImg($height);
		}
	}

	&.small img {
		@include bp(tablet) {
			@include squareImg(80px);
		}
	}

	.chip-text {
		padding: 0 20px;
		text-align: left;
	
		.type-small,
		.type-medium {
			margin: 5px 0;
		}
	}
}




