@import './colors.scss';
@import './vars.scss';

.chip {
	align-items: center;
	border-radius: $border-radius;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 0;
	width: 100%;

	&:focus,
	&:active {
		background: $color-white-focus;
	}

	img {
		@import './breakpoints.scss';
		@include squareImg(60px);

		@include bp(tablet) {
			@include squareImg(100px);
		}
	}

	.chip-title {
		padding: 0 20px;
		text-align: left;
	}
}




