$color-grey: rgba(255, 255, 255, .05);
$color-grey-dark: #1e1e1e;
$color-grey-light: rgba(255, 255, 255, .05);
$color-white: rgba(255, 255, 255, .9);
$color-white-focus: rgba(255, 255, 255, .2);
$color-white-light: rgba(255, 255, 255, .6);
$gradient-bg: linear-gradient($color-grey-light, $color-grey-dark);


.color-grey {
  background: $color-grey;
}

.color-text {
  color: $color-white;
}

.color-text-light {
  color: $color-white-light;
}

.bg-gradient {
  background-image: $gradient-bg;
}