@import './breakpoints.scss';

@mixin threeUpGrid {
	display: grid;
	grid-gap: 20px;
 	grid-template-columns: minmax(0, 1fr);
	margin: 0 auto;
	max-width: 1180px;

	@include bp(tablet) {
 		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	}

	@include bp(desktop-sm) {
 		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	}
}

@mixin fiveUpGrid {
	display: grid;
	grid-gap: 30px 20px;
 	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	margin: 0 auto;
	max-width: 1180px;

	@include bp(mobile-lg) {
 		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	}

	@include bp(tablet) {
 		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	}

	@include bp(desktop-sm) {
 		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	}
}

