@import './breakpoints.scss';
@import './colors.scss';
@import './vars.scss';

.header {
	align-items: center;
  background-color: $color-grey-dark;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	left: 0;
	padding-top: 6px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;

	@include bp(tablet) {
		flex-wrap: nowrap;
		height: 100px;
	}

	.header-options {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.header-options li {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		position: relative;

		&:after {
		  background: $color-grey-light;
			content: '';
			height: 30px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
		}
	}

	.header-menu {
		display: flex;
		flex-direction: row;
		margin-left: 23px;
	}

	.header-menu li {
		margin-right: 12px;
	}

	.header-options-search {
		margin-left: 4px;
	}

	.header-options-advance {
		padding: 20px;
	}

	.header-options-advance img {
		margin-top: 4px;
	}

	// Buttons
	button {
		border-radius: $border-radius;
		color: $color-white-light;

		&:hover,
		&:focus,
		&:active {
			background: $color-white-focus;
		}
	}

	.header-menu button {
		padding: 10px;
		text-transform: capitalize;

		&.active {
			background: $color-white-focus;
			color: $color-white;
		}
	}

	.header-options-search button {
		height: 60px;
		padding: 0 22px 0 18px;
	}

	.button-spotify {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 0 14px;
	}

	.button-dropdown{
		padding-left: 0;
		padding-right: 14px;
	}

	.button-prev,
	.button-next {
		border-radius: $border-radius;
		margin: 10px;
		height: 40px;
		width: 60px;
	
		&.active {
			background: $color-white-focus;
		}
	}

	// Icons
	.icon-down {
		padding: 0 4px 0 0;
	}

	.icon-search {
		height: 36px;
		width: 36px;	
	}
}