@import './breakpoints.scss';
@import './colors.scss';

.player {
	background: $color-grey-dark;
	bottom: -100%;
	position: fixed;
	transition: bottom 800ms ease-in-out;
	width: 100%;
	z-index: 999;

	&.open {
		bottom: 0;
	}

	.player-container {
		background: $gradient-bg;
	}


	.PlayerRSWP {
		padding: 10px 20px 20px;
		text-decoration: none;

		@include bp(tablet) {
			padding: 20px 30px;
		}
	}

	._ContentWrapperRSWP > a {
		display: none;
	}

	a {
		text-decoration: none;
	}
}