@import './breakpoints.scss';
@import './grids.scss';

.subnav {
	@include fiveUpGrid;
}

.subnav button {
	height: 80px;
	width: 100%;
}

.subnav .active button,
.subnav button:active,
.subnav button:focus {
	background: rgba(255, 255, 255, .2);
}
