@import './breakpoints.scss';
@import './grids.scss';
@import './vars.scss';

.subnav {
	@include fiveUpGrid;

	margin: 30px 0;

	@include bp(tablet) {
		margin-top: 0;
	}
}

.subnav button {
	border-radius: $border-radius;
	height: 60px;
	width: 100%;

	@include bp(tablet) {
		height: 80px;
	}
}

.subnav .active button,
.subnav button:active,
.subnav button:focus {
	background: rgba(255, 255, 255, .2);
}
