@import './breakpoints.scss';
@import './grids.scss';

.subnav {
	@include fiveUpGrid;

	margin: 30px 0;

	@include bp(tablet) {
		margin-top: 0;
	}
}

.subnav button {
	height: 80px;
	width: 100%;
}

.subnav .active button,
.subnav button:active,
.subnav button:focus {
	background: rgba(255, 255, 255, .2);
}
