@import './vars.scss';

.tile {
	overflow: hidden;

	.tile-image {
		border-radius: $border-radius;
		font-size: 0;
		overflow: hidden;
	}

	img {
		aspect-ratio: 1;
		object-fit: cover;
		object-position: 50% 50%;
		width: 100%;
	}

	&.small {
		margin-right: 20px;

		img {
			object-fit: cover;
			width: 100%;
		}
	}

	&.layered {
		position: relative;

		.tile-text {
			left: 20px;
			position: absolute;
			top: 20px;
		}

		.type-medium {
			margin: 0;
		}

	}

	.tile-text p {
	  position: relative;
	  max-height: 40px;
	  overflow: hidden;
	}

	.type-medium {
		margin: 15px 0 0;
	}

	.type-small {
		margin: 2px 0 0;
	}
}