@font-face {
  font-family: 'Universal';
  src: url(/public/fonts/UniversLTStd.otf);
}

p,
h1,
h2,
h3,
a,
li,
button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

.type-large {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.type-medium {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;

}

.type-small {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
 }