@font-face {
  font-family: Gotham;
  src: url(/public/fonts/Gotham-Book.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(/public/fonts/Gotham-Bold.otf);
}

* {
  color: rgba(255, 255, 255, .9);
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
.type-bold {
  font-family: GothamBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.type-large {
  font-size: 36px;
  letter-spacing: -.5px;
  line-height: 44px;
}

.type-medium {
  font-size: 20px;
  letter-spacing: -.5px;
  line-height: 28px;
}

.type-small {
  font-size: 18px;
  line-height: 20px;
 }

 .type-xsmall {
  font-size: 14px;
  line-height: 18px;
 }