@font-face {
  font-family: Gotham;
  src: url(../assets/fonts/Gotham-Book.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(../assets/fonts/Gotham-Bold.otf);
}

$font-book: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: GothamBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;

* {
  color: rgba(255, 255, 255, .9);
  font-family: $font-book;
  font-weight: 600;
}

.type-bold,
.type-large {
  font-family: GothamBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.type-large {
  font-size: 36px;
  letter-spacing: -.5px;
  line-height: 44px;
}

.type-medium {
  font-size: 20px;
  letter-spacing: -.5px;
  line-height: 28px;
}

.type-small {
  font-size: 18px;
  line-height: 20px;
 }

 .type-xsmall {
  font-size: 14px;
  line-height: 18px;
 }